@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200;300&family=Quicksand:wght@300&display=swap');

:root {
  --font: 'Quicksand', sans-serif;
}

* {
  margin: 0;
  padding: 0;
  color: white;
}

img {
  /* turns svgs white */
  filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(175deg) brightness(103%) contrast(105%);
}

body {
  height: 100vh;
  background-size: cover;
}

.content {
  /* height: 100vh; */
  display: grid;
  font-family: var(--font);
  font-size: 20px;
}

.main-content-grid {
  margin-top: 50px;
  padding: 20px 10px;
  max-width: 80vw;
  /* max-height: 70vh; */
  height: 432px;
  justify-self: center;
  display: grid;
  gap: 20px;
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 20px;
  overflow-y: hidden;
}

.current-weather-grid {
  display: grid;
  grid-template-rows: repeat(2, min-content);
  gap: 20px;
}

form.search-location,
.location-title {
  place-self: center;
}
.location-title {
  text-align: center;
}

input#search-weather,
form.search-location button,
button.change-units-button {
  color: black;
}

input#search-weather {
  padding: 5px 10px;
  font-size: 13px;
  font-family: var(--font);
  font-weight: 600;
  color: white;
  background-color: rgba(255, 255, 255, 0.3);
  border: none;
  border-radius: 20px;
}
::placeholder {
  color: rgba(0, 0, 0, 0.7);
}
form.search-location {
  display: grid;
  grid-template-columns: repeat(2, auto);
  place-items: center;
  gap: 10px;
}
form.search-location button {
  width: 20px;
  height: 20px;
  /* background-image: url('./icons/weather-cloudy.svg'); */
  background-color: rgba(255, 255, 255, 0);
  border: none;
  cursor: pointer;
}
form.search-location input:focus {
  outline: none;
  /* border: 5px solid white; */
  box-shadow: 0px 2px white, 0px -2px white, 2px 0px white, -2px 0px white;
  transition: 0.5s;
}

/* clears the 'X' from Internet Explorer */
input[type=search]::-ms-clear {  display: none; width : 0; height: 0; }
input[type=search]::-ms-reveal {  display: none; width : 0; height: 0; }

/* clears the 'X' from Chrome */
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration { display: none; }

.current-weather-data {
  margin-top: -10px;
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 30px;
}

.left-data {
  display: grid;
  grid-template: 3fr 1fr / repeat(2, 4fr) 1fr;
  place-content: center;
}

/* .current-temp-container {
  display: grid;
  grid-template-columns: 3fr 1fr;
} */
button.change-units-button {
  width: 40px;
  height: 40px;
  margin-top: 43px;
  font-size: 20px;
  color: white;
  background-color: rgba(0, 0, 0, 0);
  border-radius: 50%;
  border: 5px solid white;
  cursor: pointer;
}

/* .left-data .current-temp {
  font-size: 140px;
} */
.current-temp {
  font-size: 140px;
  justify-self: center;
}
.current-weather-description,
.feels-like {
  justify-self: center;
  text-align: center;
}
.feels-like {
  grid-column: 2 / 4;
}
img.current-weather-icon {
  width: 120px;
  height: 120px;
  /* stroke: #fff;
  stroke-width: 0.5px; */
  place-self: center;
}

.right-data {
  font-size: 25px;
  display: grid;
  grid-template-rows: repeat(4, min-content);
  place-content: center;
  gap: 5px;
}

.high-low-temps-container {
  display: grid;
  grid-template-columns: repeat(2, max-content);
  gap: 20px;
}

.sun-container {
  display: grid;
  grid-template-rows: repeat(2, auto);
}
.sunrise-container,
.sunset-container {
  display: grid;
  grid-template-columns: min-content max-content;
  align-content: center;
  gap: 10px;
}
img.sun-icon {
  width: 30px;
  height: 30px;
}

.forecast-grid {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  text-align: center;
  transition: 0.5s;
}

.forecast-grid-container {
  height: 100%;
  overflow: hidden;
  display: grid;
  grid-template-columns: auto min-content;
}

img.forecast-icon {
  width: 30px;
  height: 30px;
}

button.switch-forecasts-button {
  width: 40px;
  height: 40px;
  margin: 20px;
  justify-self: center;
}

/* Toggle switch CSS: */
/* The switch - the box around the slider */
.switch-forecasts-button {
  margin-top: 10px;
  position: relative;
  display: inline-block;
  width: 26px;
  height: 60px;
}
/* Hide default HTML checkbox */
.switch-forecasts-button input {
  opacity: 0;
  width: 0;
  height: 0;
}
/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgb(133, 133, 133);
  -webkit-transition: .4s;
  transition: .4s;
}
/* Slider when in off position */
.slider:before {
  position: absolute;
  content: "";
  height: 22px;
  width: 22px;
  left: 2px;
  bottom: 2px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}
/* input:checked + .slider {
  background-color: #2196F3;
}
input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
} */
input:checked + .slider:before {
  -webkit-transform: translateY(-34px);
  -ms-transform: translateY(-34px);
  transform: translateY(-34px);
}
/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}
.slider.round:before {
  border-radius: 50%;
}